
* {
    margin:0;
    padding:0;
}
.body {
    font-family: 'Roboto', sans-serif;
    width: 940px;
    height: 1080px;
    margin: 0 auto;
    top: 0px;
    padding:0;
    

}
.bar {
    position: relative;
}
.bar img{
    position: absolute;
    width: 219px;
    height: 59px;
    left: 0px;
    top: 12px;
    right: 0px;
    padding: 10px;
}
.main img{
    position: relative;
    width: 338px;
    height: 332px;
    top: 100px;
    left: 29%;
}


.last{
    position: relative;
}
.last h3{
    position: absolute;
    width: 940px;
    height: 40px;   
    text-align: center;

    top: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 16px;
    text-align: center;
    color: rgba(51, 51, 51, 0.6);
    font-family: 'Roboto', sans-serif;
}
.register {
    width: 460px;
    position: relative;
    padding: 16px;
    margin: 0 auto;
    top: 100px;
    
}
input[type=text]  {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 20px;
    border: 2px black solid;
    background: white;
}
input[type=password]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 20px;
    border: 2px black solid;
    background: white;
}
.register label.user {
    background-color: #0074DC;
    color: white;
    border-radius: 20px;
    width: 200px;
    height: 21px;
    top: 30px;
    right: 260px;
    text-align: center;
    font-style: normal;
    font-size: 16px;
    padding: 2px;
    position: absolute;
}
.register label.pass {
    background-color: #0074DC;
    color: white;
    border-radius: 20px;
    width: 95px;
    height: 21px;
    top: 110px;
    right: 360px;
    text-align: center;
    font-style: normal;
    font-size: 16px;
    padding: 2px;
    position: absolute;
}
/* input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 20px;
    border: 2px black solid;
    background: white;
} */
input[type=text]:focus, input[type=password]:focus {
    background: #FFFFFF;
    outline: none;
}
hr {
    border: 1px solid white;
    margin-bottom: 25px;
} 
.button{
    position: relative;
}
.button input.new {
    position: absolute;
    width: 180px;
    height: 52px;
    left: 42% ;
    top: 80px;
    cursor: pointer;
    opacity: 0.9;
    background-color: #0074CC;
    border-radius: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    border: none;
    color: #FFFFFF;
}
.button input.new:hover{
    opacity: 1;
}